@media screen and (min-width: 600px) {
    header {
        background-color: black;
        color: white;
    }

    nav ul {
        /*flex direction default is row */
        display: flex;
        /*spread them across the space allowed*/
        justify-content: space-evenly;
    }

    .parent,
    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    footer .footer-grid {
        display: flex;
        justify-content: center;
    }


    .card .info {
        grid-column: 1/2;
    }

    .card .pics {
        grid-column: 2/3;
    }

    .hero img {
        width: 100%;
        height: 100%;
        display: block;
    }
    
    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #484f4f);
        border: 1px solid rgba(0, 0, 0, .75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
    }

    .info h2 {
        font-size: 40px;
        padding-top: 20px;
    }
}