@media screen and (min-width: 600px) {
    header {
        background-color: black;
        color: white;
    }

    nav ul {
        /*flex direction default is row */
        display: flex;
        /*spread them across the space allowed*/
        justify-content: space-evenly;
    }

    .parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    .parent section {
        box-shadow: 1px 1px 10px black;
    }

    footer .footer-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}